<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>External CSS Example</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>External Styles</h1>
    <p id="intro">Allows you to define styles for the website</p>
    <p class="colorful">This has a style applied via a class</p>
<!--This is a comment-->
    <section>
        <h1>CSS Styles</h1>
        <h2> Different ways to apply CSS styles</h2>
        <p> 1) Inline Style</p>
        <p> 2) Internal Style</p>
        <p> 1) External Style</p>
    </section>

</body>
</html>