<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .card-body {
            border: 1px solid black;
            width: 300px;
        }

        .img-container img {
            max-width: 100%;
            height: auto;
        }

        .card-body p, .card-body h1 {
            margin: 8px;
        }

    </style>
</head>
<body>
<div class="card-body">
    <div class="img-container">
        <img src="/images/img.png" alt="">
    </div>
    <h1>Heading</h1>
    <p>Lorem ipsum ..</p>
</div>
</body>
</html>