<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Fundamentals Web Page</title>
</head>
<body>
<h1>Welcome to my web page</h1>
<p>This is a paragraph.</p>
<div>
    <h2>This is a Title inside of div</h2>
    <p>
        <a href="http://cisco.com">a link</a> inside.
        This is a paragraph inside a div.
    </p>
</div>

<p>
    This paragraph has<br>
    a lot of whitespace,
    but it will be displayed
    as a single line.
</p>

<ul>
    <li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>
</ul>

<p>
    This is a paragraph with
    <a href="#">a link</a>,
    <span>a span</span>,
    <strong>strong text</strong>, and
    <em>emphasized text</em>.
</p>

<img src="/images/java.jpg/" alt="Java Image was here">
<br>
<hr>
<input type="text" value="Sample text">

<a href="https://www.cisco.com" target="_blank">Visit Example</a>
<img src="/images/java.jpg/" alt="Image description">


</body>
</html>