<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Fundamental Home Page </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet"/>

    <style>
        h1 {
            font-family: 'Bungee Spice';
        }
    </style>
</head>
<body>
     <h1>Bungee Jumping</h1>
</body>
</html>