<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Examples</title>
    <style>
        /*div {*/
        /*    color: rgb(23, 99, 3);*/
        /*}*/

        /*p {*/
        /*    color: rgba(100%, 50%, 50%, .90);*/
        /*}*/

        div {
            color: #A9F;
        }

        p {
            color: #AA3423CC;
        }

    </style>
</head>
<body>

<div>
    This is a div element with text color set to rgb(23, 0, 3).
</div>

<p>
    This is a paragraph element with text color set to rgba(100%, 50%, 50%, .33).
</p>

</body>
</html>